<div
    *ngIf="vehicle"
    class="card mb-4 shadow-sm">
	<div class="card-header">
	  <h4 class="my-0 fw-normal">{{vehicle.name}}</h4>
	</div>
	<div class="card-body">
	  <h1 class="card-title pricing-card-title">{{vehicle.price | currency}}</h1>
		<app-carousel [images]="vehicleImages"
			[showControls]="vehicleImages.length > 1"
			[showIndicators]="vehicleImages.length > 1"></app-carousel>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>ID</td>
					<td>{{vehicle.id}}</td>
				</tr>
				<tr>
					<td>VIN</td>
					<td>{{vehicle.vin}}</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>{{vehicle.name}}</td>
				</tr>
				<tr>
					<td>Price</td>
					<td>{{vehicle.price | currency}}</td>
				</tr>
				<tr *ngFor="let attach of vehicle.attachments">
					<td>Guid</td>
					<td>{{attach.media_guid}}</td>
				</tr>				
			</tbody>
		</table>	  	  
		<a [routerLink]="['/vehicle-list']" 
            class="w-100 btn btn-outline-primary"><i class="fa fa-chevron-left"></i> Back</a>
	</div>
</div>