<nav aria-label="Page navigation example">
  <ul class="pagination d-flex justify-content-between">
    <li class="page-item">
      <button
        [class]="currentPage === 0 ? 'disabled' : ''"
        class="page-link"
        tabindex="0"
        role="button"
        aria-label="Previous"
        (click)="!disabled && previous()"
      >
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li *ngFor="let key of pageKeys" class="page-item">
      <button
        [class]="pageClasses(key)"
        class="page-link"
        tabindex="0"
        (click)="!disabled && page(key)"
      >
        {{ totalPages > key ? key+1 : '&nbsp;' }}
      </button>
    </li>
    <li class="page-item">
      <button
        [class]="totalPages-1 <= currentPage ? 'disabled' : ''"
        tabindex="0"
        role="button"
        class="page-link"
        aria-label="Next"
        (click)="!disabled && next()"
      >
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
