<app-vehicle-filters [filteredVehicles]="filteredVehicles"
	[disabled]="isLoading$ | async"
	[filters]="filters"	
	[priceRange]="priceRange"
	></app-vehicle-filters>
<app-pagination [currentPage]="currentPage" 
	[disabled]="isLoading$ | async"
	[totalPages]="totalPages"
	(pageChange)="onPageChange($event)"></app-pagination>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>	
			<th style="text-align: right">Price</th>	
			<th></th>
		</tr>
	</thead>
	<tbody *ngIf="isLoading$ | async">
		<tr>
			<td colspan="3">
				<app-spinner></app-spinner>
			</td>
		</tr>
	</tbody>
	<tbody *ngIf="(isLoading$ | async) === false">
		<!-- <tr *ngFor="let vehicle of vehicles | filter: query | orderBy: orderProp"> -->
        <tr *ngFor="let vehicle of filteredVehicles">
			<td>
				{{vehicle.name}}
				<div><small style="font-family: monospace">{{ vehicle.vin | uppercase }}</small></div>
			</td>
			<td style="text-align: right">{{vehicle.price | currency}}</td>
			<td style="text-align: right"><a class="btn btn-outline-primary" 
                [routerLink]="['/vehicle-detail', vehicle.id]">View</a></td>
		</tr>
	</tbody>
</table>
<app-pagination [currentPage]="currentPage" 
	[totalPages]="totalPages"
	(pageChange)="onPageChange($event)"></app-pagination>
