<div id="carouselExampleIndicators" class="carousel slide">
    <div *ngIf="showIndicators" class="carousel-indicators">
      <button
        *ngFor="let image of images; let index = index"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        [class]="index === 0 ? 'active' : ''"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        *ngFor="let image of images; let index = index"
        class="carousel-item"
        [class]="index === 0 ? 'active' : ''">
        <img [src]="image.url" 
            class="d-block w-100" 
            [alt]="image.alt" />
      </div>
    </div>
    <button
      *ngIf="showControls"
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      *ngIf="showControls"
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>